@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Anaheim', sans-serif;
}

:root,
html[data-theme='light'] {
  --page-background-color: #ffffff;
  --page-text-color: #111827;
}

html[data-theme='dark'] {
  --page-background-color: #111827;
  --page-text-color: #f3f4f6;
}

html[data-theme='unicorn'] {
  --page-background-color: #d98ae3;
  --page-text-color: #3b054e;
}

body {
  @apply font-sans;
  background-color: var(--page-background-color);
  color: var(--page-text-color);
}
